/* Global Ruls  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
/* Variable */
:root {
    --mainColor: #0079d2;
}
/* Variable */ 

/* Start Main Heading  */
.main-heading {
    text-align: center;
}
.main-heading h2{
        font-weight: normal;
        font-size: 40px;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 70px;
}
.main-heading h2::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 120px;
    background: #0079d2;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.main-heading h2::after{
    content: "";
    position: absolute;
    border: 2px solid;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: -36px;
    transform: translateX(-50%);
    left: 50%;
    border-color: #0177cf;
    background: #fff;
}
.main-heading p{
    max-width: 100%;
        width: 550px;
        margin: 0 auto 100px;
        line-height: 2;
        color: #777;
}

/* End Main Heading  */

/* Global Ruls  */


/* Container  */
.container {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 950px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Container  */

/* Start Logo  */
.logo img {
    width: 110px;
}
header {
        position: absolute;
        width: 100%;
        z-index: 3;
}
@media (max-width: 767px) {
    header {
        background-color: #fff;
    }

    header .form {
        margin-left: 0 !important;
        border-left: 0 !important;
        padding: 15px !important;
        background: #0079d2;
        color: #fff !important;
        border-radius: 5px;
    }
        a.logo {
            flex: 1;
            justify-content: center;
            display: flex;}
        header nav {
            flex : 0 !important;
                }
        header .menu {
            padding: 15px;
            background: #0079d2;
            color: #fff !important;
            border-radius: 5px;
        }
        .logo img {
            width: 150px;
        }
}

@media (min-width:768px) {
    header .form {
        position: absolute;
        right: 12px;
    }
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
    min-height: 114px;
}

header .container::after {
        content: "";
        position: absolute;
        width: calc(100% - 30px);
        height: 1px;
        background: silver;
        bottom: 0;
        z-index: -1;
}
header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}
@media (max-width:767px) {
    header ul {
        display: none;
    }
}
header ul li a {
    display: block;
    text-decoration: none;
    padding: 40px 10px;
    transition: 0.3s;
    color: #fff;
}
header ul li a.active,
header ul li a:hover {
    color: var(--mainColor);
    border-bottom: 1px solid var(--mainColor);
}
@media (max-width:768px) {
    header ul li a {
        padding: 15px !important;
    }
}

header .form {
        display: flex;
        padding: 15px 0px 15px 15px;
        border-left: 1px solid silver;
        margin-left: 50px;
        color: var(--mainColor);
}
@media (max-width:767px) {
    header .form {
        margin-left: 25px;
    }
}
header .menu {
    color: var(--mainColor);
    font-size: 22px;
}

@media (min-width:767px) {
    header .menu {
    display: none;
    }
}
header .menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 /50%);
}
/* End Header  */

/* Start Landing  */
.landing {
    min-height: 100vh;
    background: url(../images/4.jpg);
    background-size: cover;
    position: relative;
}
.landing .overlay {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(0 0 0 /50%);
}
.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50px);
    background-color: #0079d2a3;
    padding: 50px;
    width: 50%;
    color: #fff;
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 767px) {
.landing .text{
    width: 100%;
    justify-content: center;
    }
.landing .text .content {
    width :100%;
    text-align: center;
}
}
.landing .text .content {
    max-width: 500px;
}
.landing .text .content h2 {
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 31px;
}
.landing .text .content p {
    line-height: 1.6;
    font-size: 14px;
    color: #eee;
    }
/* End Landing  */
/* Start Services section  */
.services {
    padding-top: 100px;
    padding-bottom: 100px;
}

.services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 70px 20px;
}
.services .services-container .services-box {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .services .services-container .services-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .services .services-container .services-box i{
        margin: 0px 30px;
        margin-bottom: 30px;
    }
}
.services .services-container .services-box i {
    font-size: 50px;
    margin-right: 30px;
    color: var(--mainColor);
}
.services .services-container .services-box h3 {
    margin-bottom: 30px;
    color: var(--mainColor);
}
.services .services-container .services-box p {
    line-height: 1.6;
    color: #777;
    margin-bottom: 20px;
}
/* End Services section  */

/* start Design section  */
.design {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/1.webp);
    background-size: cover;
    /* height: 850px; */
    overflow: hidden;
}
.design-section {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
}
.design .image {
    text-align: center;
    flex: 1;
}
@media (max-width:768px) {
    .design-section {
        flex-direction: column;
    }
    .design {
        height: 100%;
    }
    .design .text {
        padding: 20px !important;
        width: 100% !important;
    }
}
.design img {
    position: relative;
    width: 350px;
    flex: 1;
}
.design h3 {
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.design h2 {
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.design p {
    color: #edbe94;
}
.design .text {
        background-color: rgb(0 121 210 / 70%);
        padding: 50px;
        width: 50%;
}

.design .text ul li {
    padding: 15px 0;
    color: #edc594;
}
.design .text ul li::before{
    font-family: 'Font Awesome 5 Free';
    content: '\f044';
    font-weight: 900;
    margin: 21px;
    color: #fff;
}
.has {
    margin: 0 auto;
}
/* start Design section  */
/* Start Portfolio Section  */
.portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
}
/* .images-box img {
    width: 500px;
} */
.shuffles {
    display: flex;
    justify-content: center;
}
.shuffles li {
    padding: 10px;
}
.shuffles .active {
    background: var(--mainColor);
    border-radius: 5px;
    color: #fff;
}
.images-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.images-container .images-box {
    position: relative;
    overflow: hidden;
}
    @media (min-width: 768px) {
            .images-box {
                flex-basis: 50%;
            }
        }
    
@media (min-width: 1199px) {
        .images-container .images-box {
            flex-basis: 25%;
        }
    }

.images-container .image img {
    max-width: 100%;
    transition: .3s;
}
.images-container .images-box:hover .caption {
    bottom: 0;
}
.images-container .images-box:hover img {
    transform: rotate(5deg) scale(1.3);
    opacity: 0.7;
}
.images-container .caption{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -100%;
    padding: 20px;
    background-color: #fff;
    transition: 0.4s;
}
.images-container .caption h4 {
    font-weight: bold;
    color: var(--mainColor);
    margin-bottom: 5px;
}
.images-container .caption p{
    color: #777;
}
.portfolio .more {
text-decoration: none;
    background: var(--mainColor);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    text-transform: uppercase;
}
/* End Portfolio Section  */
/* start Video  */
.video {
    position: relative;
}
.video::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /50%);
    left: 0;
    top: 0;
}
.video video {
    width: 100%;
}
.video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #0079d285;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 40px 0;
}
.video .text h2 {
    padding-bottom: 20px;
    text-transform: uppercase;

}
.video .text p {
    padding-bottom: 15px;
    color: #eee;
}
.video .text button {
        padding: 5px 20px;
        background: #fff;
        border: 0;
        border-radius: 2px;
        color: #0079d2;
        cursor: pointer;
}
/* End Video  */
/* Start About  */
.about {
    padding: 100px 0;
}

/* .about .container {

} */
.about-image {
    max-width: 100%;
}
.about-image img{
    width: 100%;
    margin-top: -60px;
}

/* End About  */
/* Start Stats */
.stats {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-image: url(../images/8.webp);
    background-size: cover;
    position: relative;
}
.stats::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 /40%);
        left: 0;
        top: 0;
}
.stats .container {
    position: relative;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}
.stats-box {
        background: #0079d2a3;
         padding: 50px;
        color: #fff;
}
@media (max-width: 767px) {
    .stats-box {
        flex-basis: 100%;
        border-bottom: 1px solid #fff;
    }
}
@media (min-width: 768px) {
    .stats-box {
        flex-basis: 50%
    }
}
@media (min-width: 992px) {
    .stats-box {
        flex-basis: 25%
    }
}
.stats-box i {
    width: 60px;
    font-size: 30px;
        background: #000;
        border-radius: 50%;
        height: 60px;
        text-align: center;
        display: flex;
        margin: 0 auto 30px;
        align-items: center;
        justify-content: center;
}
.stats-box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 30px;
}
.stats-box p {
    font-size: 14px;
    text-transform: uppercase;
}
/* End Stats */
/* Start Skills */
.our-skills {
    padding-top: 100px;
    padding-bottom: 100px;
}
.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 992px) {
    .our-skills .container > div {
        flex-basis: 45%;
    }
}

.our-skills .container> div > h3 {
    margin: 0 0 30px;
        text-align: center;
        font-weight: normal;
        text-transform: uppercase;
} 
.our-skills .container> div > p {
    color: #777;
    line-height: 1.8;
    margin-bottom: 50px;
    text-align: center;
} 

.our-skills .content {
    display: flex;
        margin-bottom: 30px;
        align-items: center;
        border-bottom: 1px solid #0079d2;
        padding-bottom: 15px;
}
.our-skills .content img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 50px;
}
.content .text {
    color: #777;
    line-height: 1.6;
}
/* @media (max-width: 767px) {
    .our-skills .content {}
    .our-skills .content img {}
} */
.content .text p{
    color: #0079d2;
    font-weight: bold;
}
ul.bullets {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
}
ul.bullets li {
    border: 1px solid #0079d2;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin: auto 4px;
}
ul.bullets li.active {
    background-color: #0079d2;
}

.prog-holder {
    margin-bottom: 50px;
}
.prog-holder h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: normal;
}
.prog-holder .prog {
    background-color: #ddd;
    height: 30px;
}

.prog-holder .prog span{
    background: #0079d2;
        height: 100%;
        display: block;
        position: relative;
}
.prog-holder .prog span::before{
        content: attr(data-progress);
            position: absolute;
            top: -40px;
            background: #000;
            right: -20px;
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            text-align: center;
}
.prog-holder .prog span::after{
        content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            right: -5px;
            background: #000;
            top: -18px;
            transform: rotate(45deg);
            z-index: -1;
}
/* End Skills */
/* Start Quote  */
.quote {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/3.jpg);
    background-size: cover;
    color: #fff;
}
.quote .container {
    display: block;
    text-align: center;
}
q {
    font-size: 18px;
    line-height: 1.9;
    color: #fff;
    text-align: center;
    display: block;
}
.container .jhon {
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 60px;
        display: block;
        letter-spacing: 10px;
}
.container .jhon::before{
    content: '\f31c';
    font-size: 20px;
    font-family: 'Font Awesome 6 Free';
    margin-right: 10px;
}
/* End Quote  */
/* start Pricing  */
.pricing {
    padding-top: 100px;
    padding-bottom: 100px;
}
.pricing .container {
    display: block;
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.plan {
        background: #eee;
        color: #0079d2;
        text-align: center;
}
.pricing .plans .plan .head {
    padding-bottom: 30px;
    border-bottom: 1px solid #0079d2;
    border-top: 1px solid #0079d2;
}
.pricing .plans .plan h3{
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-top: 20px;
}
.pricing .head span{
    font-size: 60px;
    font-weight: bold;
    position: relative;
}
.head span:before{
    content: "$";
    font-size: 25px;
    position: absolute;
    top: -10px;
    left: -20px;
    font-weight: normal;
}
.head span:after{
        content: '/USD';
        font-size: 25px;
        position: absolute;
        bottom: 0;
        right: -60px;
        font-weight: normal;
}
.pricing .plans .plan ul{
    border-bottom: 1px solid #0079d2;
}
.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
        content: "";
        height: 1px;
        background: #0079d2;
        position: absolute;
        width: 150px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
}
.pricing .plans .plan ul li::before {
    content: '\f044';
    font-family: 'Font Awesome 6 Free';
    margin-right: 20px;
}
.foot a {
text-decoration: none;
    padding: 10px 20px;
    display: block;
    border: 1px solid;
    width: fit-content;
    margin: 30px auto;
}
.contact-text {
    text-align: center;
        font-weight: normal;
        font-size: 20px;
        margin: 30px auto;
}
.contact-link {
    text-decoration: none;
        background: #0079d2;
        padding: 20px 50px;
        text-align: center;
        display: block;
        width: fit-content;
        margin: auto;
        color: #fff;
        border-radius: 5px;
        font-weight: bold;
}

/* End Pricing  */
/* S_supscribe */
.supscribe {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/12.jpg);
    background-size: cover;
    position: relative;
    color: #fff;
    
}
.supscribe::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 /50%);
    top: 0;
}
.supscribe .container {
position: relative;
text-align: center;
display: block;
}
.supscribe .form {
    display: block;
    position: relative;
}
@media (max-width:992px ) {
    .supscribe .form {
        flex-direction: column;
    }
}
.supscribe .form i {

}
.supscribe .form  {

}
.supscribe .form input[type="mail"] {
    padding: 10px 20px 10px 60px;
        width: 50%;
        border: 1px solid #fff;
        background: transparent;
        caret-color: #0079d2;
        border-radius: 5px;
}
.supscribe .form input[type="submit"] {

}
/* E_supscribe */